*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}
.containe{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
}
.box
{
      box-shadow: 0px 0px 8px silver;
      background-color: white;
      width: 90%;
      margin: 5% 5% 5% 5% ;
      /* margin: 1%; */
      padding: 12px;
      border-radius: 30px;
}
.product-card 
{
}
.product {
      margin-right: auto;
      margin-left: 0px;
}
.name {
      display: inline-block;
      background-color: yellowgreen;
      margin-bottom: 10px;
      float: left;
      border-radius: 50px;
      font-size: 20px;
      box-shadow: 0px 0px 8px silver;
      transition: 0.3s;

}
.name>a{
      text-decoration: none;
      color:black;
      font-family: 'Anton', sans-serif;
      padding: 5px;
}
.name:hover{
      transform: scale(1.1);
      transition: 0.3s;
}
.product-img>img {
      width: 100%;
      
}
.price {
      background-color: yellowgreen;
      border-radius: 50px;
      width: 30%;
      margin-top: 5px;
      margin-bottom: 10px;
      height: 40px;
      box-shadow: 0px 0px 8px silver;
      font-size: 15px;
}
.price>p{
      text-align: center;
      padding-top: 7px;
      
}
.cart {
      background-color: yellowgreen;
      border-radius: 50px;
      width: 70%;
      margin-left: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
      height: 40px;
      padding-top: 7px;
      transition: 0.2s;
      box-shadow: 0px 0px 8px silver;
      font-size: 15px;
}
.cart>a{
      text-decoration: none;
      color: black;
      text-align: center;
      
      
}
.cart:hover{
    transform: scale(1.1);
    background-color: yellow;
    transition: 0.23456789s;
}
.REVIEWS {
}
.REVIEWS>a{
      font-family: 'Anton', sans-serif; 
      text-align: center;  
      

}
.fa-youtube{
      color: red;
}
.description {
      margin: 5px 0px 5px 0px;
      font-family: 'Roboto', sans-serif;
}
.product-menu {
}


.flexer{
      display: flex;
}
.help {
      margin-right: auto;
      margin-left: 0px;
      margin-top: auto;
      margin-bottom: 0px;
}
.fa-solid {
      color: black;
}
.fa-circle-question {
      color: yellowgreen;
      font-size: 20px;
      margin-top: 10px;
      padding-left: 10px;
}
.like {
      margin-right: 0px;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: 0px;

}
.fa-heart {
      color: yellowgreen;
      font-size: 20px;
      margin-top: 10px;
      padding-right: 10px;
      transition: 0.2s;
}
.fa-heart:hover{
}
.fa-youtube{
      color: yellowgreen;
      font-size: 20px;
      margin-top: 10px;
}
.many{
      font-size: 14px;
margin-bottom: -10px;
}

@media  (max-width: 1059px) and (max-height: 614px){
      .many{
            display: none;
      }
}
@media  (max-width: 991px) and (max-height: 683px){
      .many{
            display: none;
      }
}



